{% extends 'base.html.twig' %}

{% block body %}
    <div class="container col-10">
            
            <div class="">
                {{ form_start(form) }}
                    {{ form_row(form.customerName)}}
                    {{ form_row(form.customerMobile)}}

                    <div id ="flavours" data-prototype ="{{ form_widget(form.orderItems.vars.prototype) |e('html_attr')}}">
                        {% for item in form.orderItems %}
                            <div class="card card-warning mt-1 w-50">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <div class="input-group">
                                        {{ form_row(item) }} 
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>    

                {{ form_end(form) }}
            </div>
    </div>

{% endblock %}

